{{page-title 'List'}}
<header>
  <h1 class='text-center'>Products</h1>
</header>
<div class='d-flex my-5 justify-content-center'>
  <article>
    {{! template-lint-disable no-inline-styles }}
    <div class='card mx-3' style='width: 18rem;'>
      <img
        src='https://erharowery.pl/wp-content/uploads/2021/07/Rower-miejski-KANDS-Escape-26-3BN-alu-3-biegi-mietowo-bialy-mat-scaled.jpg'
        class='card-img-top'
        alt='bike'
      />
      <div class='card-body'>
        <h2 class='card-title'>{{t 'product.bike.name'}}</h2>
        <p class='card-text'>{{t 'product.bike.description'}}</p>
        <LinkTo
          @route='home.bike'
          class='btn btn-primary'
          aria-label='bike details'
        >
          {{t 'general.show'}}
        </LinkTo>
      </div>
    </div>
  </article>

  <article>
    {{! template-lint-disable no-inline-styles }}
    <div class='card mx-3' style='width: 18rem;'>
      <img
        src='https://www.zielonezabawki.pl/data/gfx/pictures/medium/4/0/25704_1.jpg'
        class='card-img-top'
        alt='doll'
      />
      <div class='card-body'>
        <h2 class='card-title'>{{t 'product.doll.name'}}</h2>
        <p class='card-text'>
          {{t 'product.doll.description' default='errors.missing_translation'}}
        </p>
        <LinkTo
          aria-label='doll details'
          class='btn btn-primary'
          @route='home.doll'
        >
          {{t 'general.show'}}
        </LinkTo>
      </div>
    </div>
  </article>
  <article>
    {{! template-lint-disable no-inline-styles }}
    <div class='card mx-3' style='width: 18rem;'>
      <img
        src='https://bi.im-g.pl/im/a4/50/1b/z28639652Q,Cupra-Formentor-VZ5-Taiga-Grey.jpg'
        class='card-img-top'
        alt='car'
      />
      <div class='card-body'>
        <h2 class='card-title'>{{t 'product.car.name'}}</h2>
        <p class='card-text'>{{t 'product.car.description'}}</p>
        <LinkTo
          aria-label='car details'
          class='btn btn-primary'
          @route='home.car'
        >
          {{t 'general.show'}}
        </LinkTo>
      </div>
    </div>
  </article>
</div>